---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Bum Notes</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  
  <!-- favicon -->
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <!-- <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5"> -->

</head>
<body>
  <header class="site-header">
    <div class="container">
      <a href="{{ '/' | relative_url }}" class="site-title">
        <img src="{{ site.logo }}" alt="{{ site.title }}" class="site-logo">
        <span>Bum Notes</span>
      </a>

      {% include navigation.html %}

    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  {% include footer.html %}
  
</body>
</html>